@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
}
#carGallery{
    padding: 1.5rem;
}
#carGallery img{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
#carGallery div:last-of-type{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#carGallery div:last-of-type img:hover{
    outline: 5px solid #fff;
    z-index: 2;
    transition: 100ms ease-in-out;
}

@media (min-width: 800px) {
    #carGallery{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
  }
  